@model List<AnimeViewModel>

@{
    ViewData["Title"] = "Search";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Anime" asp-action="Search" method="get">
    <input type="text" name="title" placeholder="Search..." />
    <input type="submit" value="Search" />
</form>

<div class="content-wrapper">
    @if (Model != null && Model.Any())
    {
        <div class="anime-list">
            @foreach (var anime in Model)
            {
                <div class="anime-item">
                    <a asp-controller="Anime" asp-action="Details" asp-route-id="@anime.Id">
                        <h3>@anime.RomajiTitle</h3>
                        <img src="@anime.CoverImage" alt="Cover image">
                    </a>
                   
                    <div class="anime-details">
                        <span><strong>Score:</strong> @anime.AverageScore</span><br />
                        <span><strong>Episodes:</strong> @anime.Episodes</span><br />
                        <span><strong>Genres:</strong> @string.Join(", ", anime.Genres)</span><br />
                        
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>No results found.</p>
    }
</div>

<style>
    a {
        text-decoration: none;
        color: white;
    }

    a:hover {
        color: #ffa500;
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .anime-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
        width: 100%;
    }

    .anime-item {
        background-color: black;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        color: white;
    }

    .anime-item img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
    }

    .anime-details {
        margin-top: 10px;
        text-align: left;
    }

    #searchInput {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .search-results {
        position: absolute;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%;
        max-height: 200px;
        overflow-y: auto;
        z-index: 1000;
    }

    .search-results a {
        display: block;
        padding: 10px;
        border-bottom: 1px solid #ccc;
        color: black;
    }

    .search-results a:hover {
        background-color: #ffa500;
        color: white;
    }
</style>


