@model AnimeLibrary.Models.MangaViewModel

@{
    ViewData["Title"] = "Main Page";
}

<form id="searchForm" asp-controller="Manga" asp-action="Search" method="get">
    <input type="text" id="searchInput" name="title" placeholder="Search Manga..." autocomplete="off" />
    <div id="searchResults" class="dropdown-content-search"></div>
</form>



<h2 class="category">Сейчас в тренде</h2>
<div class="anime-list">
    @foreach (var manga in Model.TrendingManga)
    {
        <div class="anime-item">
            <a asp-controller="Manga" asp-action="Details" asp-route-id="@manga.Id">
                <img src="@manga.CoverImage" alt="@manga.TitleRomaji" />
                <h3 class="anime-title">@manga.TitleRomaji</h3>
                
            </a>
        </div>
    }
</div>

<h2 class="category">Популярное</h2>
<div class="anime-list">
    @foreach (var manga in Model.PopularManga)
    {
        <div class="anime-item">
            <a asp-controller="Manga" asp-action="Details" asp-route-id="@manga.Id">
                <img src="@manga.CoverImage" alt="@manga.TitleRomaji" />
                <h3 class="anime-title">@manga.TitleRomaji</h3>
                
            </a>
        </div>
    }
</div>
<h3>Новости</h3>

@await Component.InvokeAsync("News")
<a asp-controller="News" asp-action="Index" class="btn btn-primary">Все новости</a>

<div class="dropdown-content">
    @foreach (var genre in Model.Genres)
    {
        if (genre != "Hentai")
        {
            <a asp-controller="Manga" asp-action="Genre" asp-route-genre="@genre">@genre</a>
        }
        
    }
</div>
<div class="dropdown">
    <button class="dropdown-btn">☰ Menu</button>
    <div class="dropdown-content">
    </div>
</div>


<style>
    .dropdown-content {
        display: block; 
        position: fixed;
        top: 100px;
        left: 0;
        background-color: black;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        max-height: 575px;
        overflow-y: auto;
    }

        .dropdown-content::-webkit-scrollbar {
            width: 5px;
        }

        .dropdown-content::-webkit-scrollbar-thumb {
            background-color: #888;
            border-radius: 10px; 
        }

        .dropdown-content a {
            display: block;
            padding: 12px 16px;
            color: white;
            text-decoration: none;
        }

            .dropdown-content a:hover {
                background-color: #555;
            }

    .dropdown-btn {
        display: none;
        background-color: black;
        color: white;
        padding: 10px 15px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 2;
    }

        .dropdown-btn:hover {
            background-color: #555;
        }

    /* Медиазапросы для мобильных устройств */
    @@media (max-width: 768px) {
        .dropdown-btn {
            display: block; 
            top: 100px;
        }

            .dropdown-btn.active + .dropdown-content {
                display: block;
            }
    }

    .anime-list {
        display: flex;
        overflow-x: auto; 
        overflow-y: hidden;
        padding: 10px;
        max-height: 340px;
    }

        .anime-list::-webkit-scrollbar {
            height: 10px;
        }

        .anime-list::-webkit-scrollbar-track {
            background: transparent;
            border-radius: 20px;
        }

        .anime-list::-webkit-scrollbar-thumb {
            background: #ffa500;
            border-radius: 20px;
        }

            .anime-list::-webkit-scrollbar-thumb:hover {
                background: #ff8c00;
            }

    .anime-list {
        scrollbar-width: thin;
        scrollbar-color: #ffa500 transparent;
    }

    .anime-list {
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    .category {
        font-family: 'B612', sans-serif;
        font-style: italic;
        font-weight: 700;
    }

    .anime-item {
        flex: 0 0 auto;
        margin: 0 10px;
        text-align: center;
        max-width: 150px;
        word-wrap: break-word;
        transition: transform 0.3s ease;
    }

        .anime-item:hover {
            transform: scale(1.1);
        }

        .anime-item img {
            width: 150px;
            height: 225px;
            object-fit: cover;
        }

    .anime-title {
        font-family: 'B612', sans-serif;
        font-style: italic;
        font-weight: 700;
        font-size: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        max-height: 60px;
        line-height: 20px;
    }

    .anime-details ul li {
        display: inline-block;
        margin-right: 10px;
        background-color: #e0e0e0;
        padding: 5px 10px;
        border-radius: 15px;
        font-size: 14px;
        color: #333;
    }

    a {
        text-decoration: none;
    }

    a {
        color: white;
    }
        a:hover {
            color: #ffa500;
        }

    @@media (max-width: 768px) {
        .anime-list {
            max-height: none;
        }

        .anime-item {
            margin-bottom: 20px;
            max-width: 20%;
        }

            .anime-item img {
                width: 100%;
                height: auto;
            }
    }

    .dropdown-content-search {
        position: absolute;
        top: 100px;
        left: 0;
        width: 20%;
        background-color: black;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 999;
        max-height: 300px;
        overflow-y: auto;
        display: none;
    }

        .dropdown-content-search a {
            display: block;
            padding: 12px 16px;
            color: white;
            text-decoration: none;
        }

            .dropdown-content-search a:hover {
                background-color: #555;
            }

    @@media (max-width: 480px) {
        .dropdown-content {
            display: none;
            min-width: 100px;
            top: 100px;
        }

        .anime-title {
            font-size: 12px;
        }

        .anime-details ul li {
            font-size: 12px;
            padding: 3px 7px;
        }
    }
    @@media (max-width: 1000px){
        .dropdown-content{
            display: none;
        }
    }
</style>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var dropdownBtn = document.querySelector('.dropdown-btn');
        dropdownBtn.addEventListener('click', function () {
            this.classList.toggle('active');
            var dropdownContent = document.querySelector('.dropdown-content');
            if (this.classList.contains('active')) {
                dropdownContent.style.display = 'block';
            } else {
                dropdownContent.style.display = 'none';
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#searchInput').on('input', function () {
            var query = $(this).val();
            if (query.length > 2) { 
                $.ajax({
                    url: '@Url.Action("Search", "Manga")',
                    type: 'GET',
                    data: { title: query },
                    success: function (data) {
                        $('#searchResults').html(data).show();
                    },
                    error: function () {
                        $('#searchResults').hide();
                    }
                });
            } else {
                $('#searchResults').hide();
            }
        });

        $(document).click(function (e) {
            if (!$(e.target).closest('#searchForm').length) {
                $('#searchResults').hide();
            }
        });
    });
</script>
