@model AnimeLibrary.Models.MangaViewModel

@{
    ViewData["Title"] = "Main Page";
}

<form id="searchForm" asp-controller="Manga" asp-action="Search" method="get">
    <input type="text" id="searchInput" name="title" placeholder="Search Manga..." autocomplete="off" />
    <div id="searchResults" class="dropdown-content-search"></div>
</form>



<h2 class="category">Сейчас в тренде</h2>
<div class="anime-list">
    @foreach (var manga in Model.TrendingManga)
    {
        <div class="anime-item">
            <a asp-controller="Manga" asp-action="Details" asp-route-id="@manga.Id">
                <img src="@manga.CoverImage" alt="@manga.TitleRomaji" />
                <h3 class="anime-title">@manga.TitleRomaji</h3>
                
            </a>
        </div>
    }
</div>

<h2 class="category">Популярное</h2>
<div class="anime-list">
    @foreach (var manga in Model.PopularManga)
    {
        <div class="anime-item">
            <a asp-controller="Manga" asp-action="Details" asp-route-id="@manga.Id">
                <img src="@manga.CoverImage" alt="@manga.TitleRomaji" />
                <h3 class="anime-title">@manga.TitleRomaji</h3>
                
            </a>
        </div>
    }
</div>
<h3>Новости</h3>

@await Component.InvokeAsync("News")
<a asp-controller="News" asp-action="Index" class="btn btn-primary">Все новости</a>

<div class="dropdown-content">
    @foreach (var genre in Model.Genres)
    {
        if (genre != "Hentai")
        {
            <a asp-controller="Manga" asp-action="Genre" asp-route-genre="@genre">@genre</a>
        }
        
    }
</div>
<div class="dropdown">
    <button class="dropdown-btn">☰ Menu</button>
    <div class="dropdown-content">
    </div>
</div>


<style>
    .dropdown-content {
        display: block; /* Скрываем по умолчанию */
        position: fixed; /* Фиксированная позиция */
        top: 100px; /* Располагаем список немного ниже верхнего края */
        left: 0; /* Прикрепляем список к правому краю страницы */
        background-color: black; /* Цвет фона */
        min-width: 160px; /* Минимальная ширина */
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Тень */
        z-index: 1; /* На переднем плане */
        max-height: 575px; /* Максимальная высота списка для возможности прокрутки */
        overflow-y: auto; /* Включаем вертикальную прокрутку */
    }

        .dropdown-content::-webkit-scrollbar {
            width: 5px; /* Ширина полосы прокрутки */
        }

        .dropdown-content::-webkit-scrollbar-thumb {
            background-color: #888; /* Цвет ползунка */
            border-radius: 10px; /* Скругление углов ползунка */
        }

        .dropdown-content a {
            display: block; /* Сделать ссылки блочными элементами */
            padding: 12px 16px; /* Отступы вокруг текста ссылок */
            color: white; /* Цвет текста ссылок */
            text-decoration: none; /* Убираем подчеркивание текста ссылок */
        }

            .dropdown-content a:hover {
                background-color: #555; /* Цвет фона ссылок при наведении */
            }

    .dropdown-btn {
        display: none; /* Скрываем кнопку по умолчанию */
        background-color: black; /* Цвет фона кнопки */
        color: white; /* Цвет текста кнопки */
        padding: 10px 15px; /* Отступы вокруг текста кнопки */
        border: none; /* Убираем рамку кнопки */
        cursor: pointer; /* Курсор указателя */
        font-size: 16px; /* Размер шрифта */
        position: fixed; /* Фиксированная позиция */
        top: 10px; /* Располагаем кнопку немного ниже верхнего края */
        right: 10px; /* Располагаем кнопку справа */
        z-index: 2; /* На переднем плане */
    }

        .dropdown-btn:hover {
            background-color: #555; /* Цвет фона кнопки при наведении */
        }

    /* Медиазапросы для мобильных устройств */
    /* Медиазапросы для мобильных устройств */
    @@media (max-width: 768px) {
        .dropdown-btn {
            display: block; /* Отображаем кнопку на мобильных устройствах */
            top: 100px;
        }

            .dropdown-btn.active + .dropdown-content {
                display: block; /* Отображаем меню при нажатии на кнопку */
            }
    }

    .anime-list {
        display: flex;
        overflow-x: auto; /* Скрыли полосу прокрутки*/
        overflow-y: hidden;
        padding: 10px;
        max-height: 340px;
    }

        /* Стилизация полосы прокрутки для Webkit-браузеров */
        .anime-list::-webkit-scrollbar {
            height: 10px; /* Высота полосы прокрутки */
        }

        .anime-list::-webkit-scrollbar-track {
            background: transparent; /* Цвет дорожки полосы прокрутки */
            border-radius: 20px; /* Скругление углов дорожки для более гладких углов */
        }

        .anime-list::-webkit-scrollbar-thumb {
            background: #ffa500; /* Оранжевый цвет ползунка полосы прокрутки */
            border-radius: 20px; /* Скругление углов ползунка для более гладких углов */
        }

            .anime-list::-webkit-scrollbar-thumb:hover {
                background: #ff8c00; /* Темно-оранжевый цвет ползунка при наведении */
            }

    /* Стилизация полосы прокрутки для Firefox */
    .anime-list {
        scrollbar-width: thin; /* Толщина полосы прокрутки */
        scrollbar-color: #ffa500 transparent; /* Оранжевый цвет ползунка и светлый цвет дорожки */
    }

    /* Стилизация полосы прокрутки для IE и Edge */
    .anime-list {
        -ms-overflow-style: -ms-autohiding-scrollbar; /* Автоматическое скрытие полосы прокрутки */
    }

    .category {
        font-family: 'B612', sans-serif;
        font-style: italic;
        font-weight: 700;
    }

    .anime-item {
        flex: 0 0 auto;
        margin: 0 10px;
        text-align: center;
        max-width: 150px;
        word-wrap: break-word;
        transition: transform 0.3s ease;
    }

        .anime-item:hover {
            transform: scale(1.1); /* Scale the image to 110% on hover */
        }

        .anime-item img {
            width: 150px;
            height: 225px;
            object-fit: cover;
        }

    .anime-title {
        font-family: 'B612', sans-serif;
        font-style: italic;
        font-weight: 700;
        font-size: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        max-height: 60px;
        line-height: 20px;
    }

    .anime-details ul li {
        display: inline-block;
        margin-right: 10px;
        background-color: #e0e0e0;
        padding: 5px 10px;
        border-radius: 15px;
        font-size: 14px;
        color: #333;
    }

    /* Убираем подчеркивание у всех ссылок */
    a {
        text-decoration: none; /* Убирает подчеркивание текста */
    }

    /* Изменяем цвет ссылок */
    a {
        color: white; /* Цвет ссылок теперь черный */
    }

        /* Добавляем эффект при наведении для ссылок */
        a:hover {
            color: #ffa500; /* Цвет ссылок при наведении курсора */
        }

    @@media (max-width: 768px) {
        .anime-list {
            /* Переход на колонную верстку для узких экранов */
            max-height: none; /* Отмена ограничения по высоте */
        }

        .anime-item {
            margin-bottom: 20px; /* Добавляем отступ снизу между элементами */
            max-width: 20%; /* Расширяем элементы до 100% ширины контейнера */
        }

            .anime-item img {
                width: 100%; /* Изображение занимает всю ширину элемента */
                height: auto; /* Автоматическая высота */
            }
    }

    .dropdown-content-search {
        position: absolute;
        top: 100px; /* Располагаем ниже поля ввода */
        left: 0;
        width: 20%; /* Делаем ширину такой же, как у поля ввода */
        background-color: black;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 999;
        max-height: 300px;
        overflow-y: auto;
        display: none; /* Скрываем по умолчанию */
    }

        .dropdown-content-search a {
            display: block;
            padding: 12px 16px;
            color: white;
            text-decoration: none;
        }

            .dropdown-content-search a:hover {
                background-color: #555;
            }

    @@media (max-width: 480px) {
        .dropdown-content {
            display: none;
            min-width: 100px; /* Уменьшаем минимальную ширину для мобильных устройств */
            top: 100px; /* Сдвигаем вниз для мобильных устройств */
        }

        .anime-title {
            font-size: 12px; /* Уменьшаем размер шрифта заголовков */
        }

        .anime-details ul li {
            font-size: 12px; /* Уменьшаем размер шрифта в списке жанров */
            padding: 3px 7px; /* Уменьшаем отступы */
        }
    }
    @@media (max-width: 1000px){
        .dropdown-content{
            display: none;
        }
    }
</style>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var dropdownBtn = document.querySelector('.dropdown-btn');
        dropdownBtn.addEventListener('click', function () {
            this.classList.toggle('active');
            var dropdownContent = document.querySelector('.dropdown-content');
            if (this.classList.contains('active')) {
                dropdownContent.style.display = 'block';
            } else {
                dropdownContent.style.display = 'none';
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#searchInput').on('input', function () {
            var query = $(this).val();
            if (query.length > 2) { // Начать поиск, если длина строки больше 2 символов
                $.ajax({
                    url: '@Url.Action("Search", "Manga")', // URL вашего действия контроллера
                    type: 'GET',
                    data: { title: query },
                    success: function (data) {
                        $('#searchResults').html(data).show(); // Заполните и отобразите результаты
                    },
                    error: function () {
                        $('#searchResults').hide(); // Скрываем результаты в случае ошибки
                    }
                });
            } else {
                $('#searchResults').hide(); // Скрываем результаты, если длина строки меньше 2 символов
            }
        });

        $(document).click(function (e) {
            if (!$(e.target).closest('#searchForm').length) {
                $('#searchResults').hide(); // Скрываем результаты при клике вне поля ввода
            }
        });
    });
</script>
